doctype html
html(lang='en')
  head
    title= "Troll Poll"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet")
    link(rel='stylesheet', href='style.css')
    script(src='homepage.js')
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
  body
    nav(class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: rgb(135, 235, 135)")
      a(class="navbar-brand" href="/") #[img(src='https://i.imgur.com/JoWjQsJ.png' class='logo')]
      div(class="collapse navbar-collapse justify-content-end" id="nav-content")
      if !funcpage
        form(class="form-inline" role="search")
          input(type="text" id="pollsearch" placeholder="Find a poll..." class="form-control" onkeyup="searcher()")
      if userid
        a(class='nav-link' href='/mypolls') My Polls
        a(class="nav-link" href="/logout") Log Out
      else
        a(class="nav-link" href="/login") Log In
        a(class="nav-link" href="/register") Register
    block content