extends homelayout

block content
    div(id='createdwrapper' class='text-center')
        div(class='created') That poll is not yours to delete.
        div(class='text-center')
            a(class='btn btn-primary createdbutton' id='returnbutton' href='/') Return to Homepage